[data-testid="stSidebarNav"] {
    background-image: "url(https://github.com/nathanyaqueby/hackupc2023/blob/main/images/logo.png)";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    padding-top: 80px;
}