[data-testid="stSidebarNav"] {
    background-image: url(https://github.com/nathanyaqueby/hackupc2023/blob/master/images/logo.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    padding-top: 80px;
}